# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
# IDE settings (Para que no se suban tus configs personales de VS Code)
.vscode/
.idea/
# Data / Models
/dataset/
/ia-service-python/models/
