@use '@angular/material' as mat;

// Paletas base
$light-primary: mat.$green-palette;
$light-tertiary: mat.$blue-palette;

$dark-primary: mat.$green-palette;
$dark-tertiary: mat.$blue-palette;

// TEMA CLARO (Material 3 - Angular 20)
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $light-primary,
    tertiary: $light-tertiary,
    use-system-variables: true,
  ),
));

// TEMA OSCURO
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $dark-primary,
    tertiary: $dark-tertiary,
    use-system-variables: true,
  ),
));

// Aplica tema claro por defecto
html {
  @include mat.all-component-themes($light-theme);
}

// Cuando el body/html tenga la clase .dark-theme, aplica el oscuro
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
