@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-gray-900 text-slate-200 antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Efecto de brillo para inputs al hacer focus */
.input-glow:focus {
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2), 0 0 15px rgba(124, 58, 237, 0.1);
}